html.popup {
  width: 350px;
}

body.popup {
  width: 350px;
}

body.sticky-footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main.sticky-footer {
  flex: 1;
}
/*
footer.sticky-footer {
  position: fixed !important;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1; /* -1: aside is on top; 1: footer is on top
} */
